In [2]:
import pandas as pd
import os

In [47]:
#Leer la carpeta "batches"
# path = "../batches"
files = os.listdir(path)
#Leer los archivos de la carpeta "batches"
df = pd.concat([pd.read_csv(os.path.join(path, file)) for file in files])
#Guardar el archivo en formato csv
df.to_csv("../batches/batches_concatenate.csv", index=False)

In [48]:
df.head()

,index,Formula,Phase,Elem1,Elem2,Elem3,Elem4,Elem5,Elem6,Elem7,Elem8,CantElemen,Compo1,Compo2,Compo3,Compo4,Compo5,Compo6,Compo7,Compo8
0,29.0,Al40Cu60T,CRA,Al,Cu,0,0,0,0,0,0,2,40.0,60.0,0.0,0.0,0.0,0.0,0.0,0.0
1,92.0,Al90Ni10,CRA,Al,Ni,0,0,0,0,0,0,2,90.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0
2,103.0,Al92La8,RMG,Al,La,0,0,0,0,0,0,2,92.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0
3,109.0,Al93Ce7,RMG,Al,Ce,0,0,0,0,0,0,2,93.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0
4,128.0,Al98.9Ti1.1,CRA,Al,Ti,0,0,0,0,0,0,2,98.9,1.1,0.0,0.0,0.0,0.0,0.0,0.0

In [49]:
df = df.head(1)
df

,index,Formula,Phase,Elem1,Elem2,Elem3,Elem4,Elem5,Elem6,Elem7,Elem8,CantElemen,Compo1,Compo2,Compo3,Compo4,Compo5,Compo6,Compo7,Compo8
0,29.0,Al40Cu60T,CRA,Al,Cu,0,0,0,0,0,0,2,40.0,60.0,0.0,0.0,0.0,0.0,0.0,0.0

In [50]:
#Leer el archivo de "TablaPeriodica.csv"
df_tabla_periodica = pd.read_csv("../Inputs/TablaPeriodica.csv", sep=";")
df_tabla_periodica.head()

,Element,Eea (ev),I1 (ev),I2 (ev),Tm (K),AW,AN,Rm (nm),Rc (nm),Gp,...,dVEC,XP,XM,Cp (J/molK),K (W/m)/K 300K,W,D,Hf (kJ/mol),LP,Tb (K)
0,Ag,1.3040,7.576,2.145.411,1234.93,107.87,47,0.1445,0.145,11,...,10,1.93,1.83,25.350,429.0,4.64,10.50,11.30,18.005,2435.15
1,Al,0.4328,5.986,1.882.883,933.47,2.698.154,13,0.1432,0.121,13,...,0,1.61,1.37,24.200,237.0,4.19,2.70,10.79,16.472,2792.15
2,Au,2.3090,9.226,2.052.132,1337.33,196.97,79,0.1442,0.136,11,...,10,2.54,2.33,25.418,317.0,5.32,19.30,12.55,18.145,3129.15
3,B,0.2800,8.298,2.515.521,2349.15,10.81,5,0.0820,0.084,13,...,0,2.04,1.77,11.087,27.0,4.75,2.34,50.20,86.991,4200.15
4,Ba,0.1450,5.212,1.000.363,1000.15,137.33,56,0.2176,0.215,2,...,0,0.89,1.17,28.070,18.4,2.35,3.62,7.75,63.643,2170.15

In [51]:
#Vamos a iterar por cada registro del "df"
for index, row in df.iterrows():
    #vamos a iterar por las columnas Elem1, Elem2, Elem3, Elem4, Elem5, Elem6, Elem7 y Elem8
    for i in range(1, 9):
        #Obtenemos el elemento de la columna Elem{i}
        elemento = row[f"Elem{i}"]
        #Buscarlo en la tabla periodica
        df_elemento = df_tabla_periodica[df_tabla_periodica["Element"] == elemento]
        #Si el df_elemento no está vacío
        if not df_elemento.empty:
            print('El df no está vacio')
            #Agregar el df_elemento a la derecha del df original
            print('Longitud de columnas del df: ', len(df.columns))
            print('Longitud de columnas del df_elemento: ', len(df_elemento.columns))
            df = pd.concat([df, df_elemento], axis=1)
            print(df)
            print('Longitud de columnas del df: ', len(df.columns))
        else:
            print('El df está vacio')

El df no está vacio
Longitud de columnas del df:  20
Longitud de columnas del df_elemento:  24
   index    Formula Phase Elem1 Elem2 Elem3 Elem4 Elem5 Elem6 Elem7  ... dVEC  \
0   29.0  Al40Cu60T   CRA    Al    Cu     0     0     0     0     0  ...  NaN
1    NaN        NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...  0.0

     XP    XM  Cp (J/molK)  K (W/m)/K 300K     W    D  Hf (kJ/mol)      LP  \
0   NaN   NaN          NaN             NaN   NaN  NaN          NaN     NaN
1  1.61  1.37         24.2           237.0  4.19  2.7        10.79  16.472

    Tb (K)
0      NaN
1  2792.15

[2 rows x 44 columns]
Longitud de columnas del df:  44
El df no está vacio
Longitud de columnas del df:  44
Longitud de columnas del df_elemento:  24
    index    Formula Phase Elem1 Elem2 Elem3 Elem4 Elem5 Elem6 Elem7  ...  \
0    29.0  Al40Cu60T   CRA    Al    Cu     0     0     0     0     0  ...
1     NaN        NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
11    NaN        NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...

    dVEC   XP    XM  Cp (J/molK)  K (W/m)/K 300K    W     D  Hf (kJ/mol)  \
0    NaN  NaN   NaN          NaN             NaN  NaN   NaN          NaN
1    NaN  NaN   NaN          NaN             NaN  NaN   NaN          NaN
11  10.0  1.9  1.85        24.44           401.0  4.7  8.96        13.05

        LP   Tb (K)
0      NaN      NaN
1      NaN      NaN
11  11.872  2835.15

[3 rows x 68 columns]
Longitud de columnas del df:  68
El df está vacio
El df está vacio
El df está vacio
El df está vacio
El df está vacio
El df está vacio